@charset="UTF-8";

html{background-color: beige;}

body{background-color: beige;}


h1 {
    background-color: aliceblue;

    font-family: "Comic Sans MS";
    padding: 20px;
    font-size: 50px;

    color: black;
}

#Project1{
    padding-top: 0px;

}

a:

}

#Project2{
    padding-top: 250px;


}
#Project3{
    padding-top: 250px;

}


#god {
width:600px;
    height:100px;
    float: left;
    padding: 10px;
}
#project {
    width: 400px;
    height: 300px;
    float: right;
    padding-right:100px ;
    padding-top: 100px ;

}



#goals {
    height: 400px;
    width: 400px;
    float: right;
    padding-right: 100px;
    padding-top: 120px;
}



#godwin {
    width:600px;
    height:100px;
    float: left;
    padding: 10px;
}







#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

#nav  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#nav li a:hover {
    background-color: #111;
}